@import "config";

.MuiOutlinedInput-root {
  fieldset {
    background-color: $grey-light;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(19, 44, 112, 0.25);
    z-index: -1;
  }
}

.landing-page {
  background-image: url(../images/Landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 99vw;
  height: 100vh;
}

footer.footer {
  .upper-footer {
    background-color: $primary-dark;
    color: white;
    text-align: center;

    .item {
      padding: 70px;

      @media (max-width: $small-screen) {
        padding: 50px;
      }

      p.follow-text {
        font-family: Lateef, serif;
        font-size: 1.5rem;
        color: $orange-main;
        transform: translateX(-5px);
      }

      .social-icons {
        display: flex;
        width: 400px;
        margin: auto;
        align-items: center;
        justify-content: space-around;

        img {
          max-width: 40px;
          max-height: 40px;
          margin-top: 50px;

          @media (max-width: $small-screen) {
            max-width: 25px;
            max-height: 25px;
          }
        }

        @media (max-width: $small-screen) {
          width: 200px;
        }
      }

      .link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        margin: auto;
        text-align: center;

        img {
          width: 40px;

          @media (max-width: $small-screen) {
            width: 30px;
          }
        }

        .rect {
          width: 30px;
          height: 40px;
          border: 2px solid $orange-main;
          border-radius: 10px;

          @media (max-width: $small-screen) {
            width: 20px;
            height: 30px;
            border-radius: 5px;
          }
        }

        img,
        .rect {
          margin-right: 10px;
        }

        .link-text-container {
          text-align: left;
          margin-top: 10px;

          p {
            font-family: $font-lateef;
            font-size: 1.2rem;
            letter-spacing: 2px;
            line-height: 10px;

            @media (max-width: $small-screen) {
              font-size: 1rem;
            }
          }
          h2 {
            font-family: $font-alef;
            font-size: 1.2rem;
            font-weight: 200;

            @media (max-width: $small-screen) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .lower-footer {
    background-color: $primary-darker;
    color: white;

    .lang-container {
      text-align: right;
      .lang-select {
        width: 100px;

        .select-field {
          svg {
            color: white;
          }
        }
      }
    }

    .button-container {
      position: relative;
      .icon-button {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);

        background-color: white;
        color: black;
        min-width: 25px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
}
